<html>
    <head>
        <title> My Diary</title>
    </head>
<body>
    <h1 style="font-size:32px;color: <%= data.color %>">data.mood</h1>
    <p>
        <%=data.longtext%>
    </p>
</body>
</html>
    